.app {
  background-color: #340068;
  color: whitesmoke;
  padding-top: 15px;
  margin: 0 auto; 
}

a {
  text-decoration: none; 
}


.navbar {
   
}

.ulbar {
 
}

.aboutmelist, .projectlist, .resumelist, .homenav, .skilllist {
  margin-right: 40px;
  margin-top: 20px;
  
}

.about-link {
 color: #FE8A66;
}

.Main {
  padding: 85px;
  font-size: 45px;
  margin-bottom: 15px;
  line-height: 50px;
  
}

.h1 {
  font-weight: 400;
}

.cool-text {
color: #FE8A66;
font-weight: 900;

}

.aboutme-div, .skills-div, .project-div {
  margin-top: 300px;
}


.react {
  color: #61DAFB;
  
}

.javascript {
  color: #F0DB4E;
}


.skills-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.skills-container{
margin-top: 350px;


}
.skills-div {
  font-size: 3rem;
  display: flex;
  justify-content: center; 
  align-items: center; 
  gap: 1.5rem;
  margin-top: 40px;
}

.proimage{
  height: 30rem;
  width: 30rem;
  border-radius: 8px; 
  transition: transform 0.3s ease; 
}

.proimage:hover {
  transform: scale(1.1);
  cursor: pointer; 
}
.container {
  display: flex;
  align-items: center;
  margin-bottom: 10rem;
}

.content {
  margin-left: 1rem;
}

.buttonsone {
  display: flex;
  gap: 1rem;
  color: #FE8A66;
  margin-left: 2rem;
}

.projectone {
  margin-left: 2rem;
}

.buttonstwo {
  display: flex;
  gap: 1rem;
  color: #FE8A66;
  margin-right: 2rem;
}

.projecttwo {
  margin-right: 2rem;
}


.tech-title-one, .tech-used-one {
  margin-left: 2rem;
}




.project-div {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orange-button {
  background-color: #FE8A66;
  color: black;
  border: none;
  padding: 9px 17px;
  font-size: 1rem;
  border-radius: 7px;
  transition: all 0.2s ease-in-out;
}

.orange-button:hover {
  background-color: white;
  color: black;

}
.orange-button:active {
  transform: scale(0.95);
}

.center {
  text-align: center;
}

.container-wrapper {
  display: flex;
  margin-left: 680px;
  width: 100%;
  margin-top: 1rem;
}




















.python {
  color: #F0DB4E;
}

.postgresql {
    width: 55px;
    height: 55px;
  }

  .sequel {
    color: #01AAE9;
  }

  .nodejs{
    color: #69A063;
  }

  .html{
    color: #FE8A66;
  }

  .css3 {
    color: #2965F1;
  }

  .django {
    color: #113E2E;
  }

  .git {
    color: #FE8A66;
  }

  .vss {
    color: #3A94D0;
  }

  .bootstrap {
    color: #8C13FD;
  }
  .tailwind {
    color: #00B8D6;
  }